/* ==========================
   GOOGLE STYLE RESET
/* ===========================
      SIMOR LOGO
=========================== */

.logo{

    display:flex;

    align-items:center;

}

.logo-link{

    text-decoration:none;

}

.simor-logo{

    display:flex;

    align-items:flex-end;

    font-size:52px;

    font-weight:800;

    font-family:'Poppins',sans-serif;

    line-height:1;

    letter-spacing:1px;

}

.s{
    color:#D4AF37;
}

.i,
.o,
.r{
    color:#0B3C7D;
}

.m{

    position:relative;

    width:48px;

    height:53px;

}

/* Left Half */

.m-left{

    position:absolute;

    left:0;

    color:#0B3C7D;

    clip-path: inset(0 50% 0 0);

}

/* Right Half */

.m-right{

    position:absolute;

    left:0;

    color:#D4AF37;

    clip-path: inset(0 0 0 50%);

}

/* Tick */

.tick{

    position:absolute;

    width:10px;

    height:73px;

    background:#0B3C7D;

    left:33px;

    top:-26px;

    transform:rotate(22deg);

    border-radius:5px;

}


.logo-sub{

    font-size:12px;

    letter-spacing:4px;

    color:#555;

    margin-top:4px;

}
/*/////////////////*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#f8f8f8;
    color:#222;
    line-height:1.7;
}

img{
    width:100%;
    display:block;
}

a{
    text-decoration:none;
}

ul{
    list-style:none;
}

.container{
    width:90%;
    max-width:1300px;
    margin:auto;
}

/* ==========================
   COLORS
========================== */

:root{

--gold:#d4af37;
--gold2:#f5d36b;

--dark:#111111;
--light:#ffffff;

--gray:#777;
--shadow:0 15px 40px rgba(0,0,0,.08);

}

/* ==========================
   HEADER
========================== */
header{

    position:fixed;

    width:100%;

    top:0;

    left:0;

    background:rgba(18,18,18,.88);

    backdrop-filter:blur(20px);

    border-bottom:1px solid rgba(255,255,255,.08);

    transition:.4s;

}

header .container{

display:flex;
justify-content:space-between;
align-items:center;

padding:18px 0;

}

.logo{

display:flex;
align-items:center;
gap:15px;

}

.logo img{

width:55px;

}

.logo h2{

color:white;
font-size:30px;
letter-spacing:2px;

}

.logo p{

color:#ddd;
font-size:13px;

}

nav ul{

display:flex;
gap:35px;

}

nav a{

color:white;
font-weight:500;
transition:.35s;

}

nav a:hover{

color:var(--gold);

}

.dealer-btn{

padding:14px 28px;

background:linear-gradient(45deg,var(--gold),var(--gold2));

border-radius:50px;

color:#111;

font-weight:600;

transition:.4s;

}

.dealer-btn:hover{

transform:translateY(-4px);

box-shadow:0 10px 25px rgba(212,175,55,.5);

}

/* ==========================
 HERO
========================== */

.hero{

padding:120px 0;

background:

linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,.75)),
url("../images/bg.jpg");

background-size:cover;
background-position:center;

color:white;

}

.hero::before{

content:"";

position:absolute;

inset:0;

background:

radial-gradient(circle at top right,
rgba(212,175,55,.18),
transparent 40%);

}


.hero .container{

display:grid;
grid-template-columns:1fr 1fr;
align-items:center;
gap:80px;

}

.hero span{

display:inline-block;

padding:8px 18px;

background:rgba(255,255,255,.12);

border:1px solid rgba(255,255,255,.2);

border-radius:50px;

margin-bottom:20px;

}

.hero h1{
    
font-size:68px;

font-weight:800;

letter-spacing:-2px;
line-height:1.1;

margin-bottom:25px;

}

.hero p{

color:#ddd;

font-size:18px;

margin-bottom:35px;

}

.hero-buttons{

display:flex;
gap:20px;

}

.hero-buttons a{

padding:16px 35px;

border-radius:50px;

font-weight:600;

transition:.35s;

}

.hero-buttons a:first-child{

background:linear-gradient(45deg,var(--gold),var(--gold2));

color:#111;

}

.hero-buttons a:last-child{

border:2px solid white;

color:white;

}

.hero-buttons a:hover{

transform:translateY(-5px);

}

.hero-right img{

animation:float 5s infinite ease-in-out;

}

@keyframes float{

50%{

transform:translateY(-20px);

}

}

/* ==========================
SECTION
========================== */

section{

padding:100px 0;

}

section h2{

font-size:42px;

text-align:center;

margin-bottom:55px;

position:relative;

}

section h2::after{

content:"";

width:90px;
height:4px;

background:var(--gold);

display:block;

margin:18px auto;

border-radius:20px;

}


/* ==========================
   TRUSTED PROFESSIONALS
========================== */

.trusted{
    background:#f7f7f7;
}

.trusted-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(240px,1fr));

    gap:30px;

}

.professional-card{

    position:relative;

    height:220px;

    border-radius:20px;

    overflow:hidden;

    background-size:cover;

    background-position:center;

    cursor:pointer;

    transition:.5s;

    box-shadow:0 20px 45px rgba(0,0,0,.12);

}

.professional-card:hover{

    transform:translateY(-12px);

    box-shadow:0 30px 60px rgba(0,0,0,.25);

}

.professional-card::before{

    content:"";

    position:absolute;

    inset:0;

    background:linear-gradient(
        to top,
        rgba(0,0,0,.82),
        rgba(0,0,0,.35),
        rgba(0,0,0,.10)
    );

    transition:.4s;

}

.professional-card:hover::before{

    background:linear-gradient(
        to top,
        rgba(0,0,0,.40),
        rgba(0,0,0,.45),
        rgba(0,0,0,.15)
    );

}

.professional-card h3{

    position:absolute;

    left:25px;

    bottom:30px;

    color:#fff;

    font-size:24px;

    font-weight:700;

    z-index:2;

    transition:.4s;

}

.professional-card h3::before{

    content:"";

    display:block;

    width:60px;

    height:4px;

    margin-bottom:14px;

    border-radius:30px;

    background:linear-gradient(90deg,#D4AF37,#f5d36b);

}

.professional-card:hover h3{

    transform:translateY(-5px);

}


/* ==========================
TRUSTED
========================== */
.architect{

    background-image:url("images/q.jpeg");

}

.builder{

    background-image:url("images/w.jpeg");

}

.interior{

    background-image:url("images/i.jpeg");

}

.manufacturer{

    background-image:url("images/d.jpeg");

}

.dealer{

    background-image:url("images/q.jpeg");

}



/* ==========================
   PRODUCT CATEGORIES
========================== */

.categories{
    background:#f7f7f7;
}

.category-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));

    gap:30px;

}

.category-card{

    position:relative;

    height:230px;

    border-radius:22px;

    overflow:hidden;

    background-size:cover;

    background-position:center;

    cursor:pointer;

    transition:.5s;

    box-shadow:0 18px 45px rgba(0,0,0,.12);

}

.category-card:hover{

    transform:translateY(-10px) scale(1.03);

    box-shadow:0 30px 60px rgba(0,0,0,.25);

}

.category-card::before{

    content:"";

    position:absolute;

    inset:0;

    background:linear-gradient(
        to top,
        rgba(0,0,0,.85),
        rgba(0,0,0,.35),
        rgba(0,0,0,.10)
    );

    transition:.4s;

}

.category-card:hover::before{

    background:linear-gradient(
        to top,
        rgba(0,0,0,.92),
        rgba(0,0,0,.45),
        rgba(0,0,0,.15)
    );

}

.category-card h3{

    position:absolute;

    left:25px;

    bottom:28px;

    color:white;

    font-size:24px;

    font-weight:700;

    z-index:2;

    transition:.4s;

}

.category-card h3::before{

    content:"";

    display:block;

    width:60px;

    height:4px;

    margin-bottom:14px;

    border-radius:50px;

    background:linear-gradient(90deg,#D4AF37,#f5d36b);

}

.category-card:hover h3{

    transform:translateY(-5px);

}
/* ==========================
CATEGORY
========================== */
.door{
    background-image:url("images/m.png");
}

.cabinet{
    background-image:url("images/cab.png");
}

.mortise{
    background-image:url("images/mort.png");
}

.glass{
    background-image:url("images/glass.png");
}

.lock{
    background-image:url("images/mortise.png");
}

.knob{
    background-image:url("images/knob.png");
}

.bathroom{
    background-image:url("images/bath.png");
}

.kitchen{
    background-image:url("images/kit.png");
}

/* ==========================
PRODUCTS
========================== */

.product-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

gap:35px;

}

.product-grid article{

background:white;

border-radius:20px;

overflow:hidden;

box-shadow:var(--shadow);

transition:.4s;

}

.product-grid article:hover{

transform:translateY(-10px);

}

.product-grid img{

height:260px;

object-fit:cover;

}

.product-grid h3{

padding:25px 25px 5px;

}

.product-grid p{

padding:0 25px;

color:gray;

}

.product-grid a{

display:inline-block;

margin:25px;

padding:12px 25px;

background:var(--gold);

color:black;

border-radius:50px;

font-weight:600;

}

/* ==========================
ABOUT
========================== */

.about{

background:#111;

color:white;

text-align:center;

}

.about p{

max-width:850px;

margin:auto;

font-size:20px;

color:#ddd;

}

/* ==========================
STATS
========================== */

.stats{

background:linear-gradient(135deg,#111,#2d2d2d);

color:white;

}

.stats .container{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:30px;

text-align:center;

}

.stats h2{

color:var(--gold);

font-size:50px;

margin-bottom:5px;

}

.stats h2::after{

display:none;

}

/* ==========================
PORTFOLIO
========================== */

.portfolio-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

gap:25px;

}

.portfolio-grid div{

height:260px;

border-radius:20px;

background:#ddd;

transition:.4s;

}

.portfolio-grid div:hover{

transform:scale(1.05);

background:var(--gold);

}

/* ==========================
DEALER
========================== */

.dealer{

text-align:center;

background:

linear-gradient(45deg,#111,#222);

color:white;

}

.dealer a{

display:inline-block;

margin-top:30px;

padding:18px 40px;

background:linear-gradient(45deg,var(--gold),var(--gold2));

border-radius:50px;

color:black;

font-weight:700;

}

/* ==========================
CONTACT
========================== */

.contact{

text-align:center;

}

.contact p{

font-size:18px;

margin:12px;

}

/* ==========================
FOOTER
========================== */

footer{

background:#111;

color:#bbb;

padding-top:70px;

}

footer .container{

display:grid;

grid-template-columns:2fr 1fr 1fr;

gap:50px;

}

footer img{

width:90px;

margin-bottom:20px;

}

footer h3{

color:white;

margin-bottom:20px;

}

footer li{

margin-bottom:12px;

cursor:pointer;

transition:.3s;

}

footer li:hover{

color:var(--gold);

padding-left:8px;

}

footer hr{

margin-top:50px;

border:none;

height:1px;

background:#333;

}

/* ==========================
RESPONSIVE
========================== */

@media(max-width:992px){

.hero .container{

grid-template-columns:1fr;

text-align:center;

}

.hero-buttons{

justify-content:center;

}

header .container{

flex-direction:column;

gap:20px;

}

nav ul{

flex-wrap:wrap;

justify-content:center;

}

footer .container{

grid-template-columns:1fr;

text-align:center;

}

}

@media(max-width:768px){

.hero h1{

font-size:42px;

}

section{

padding:70px 0;

}

section h2{

font-size:32px;

}

}

@media(max-width:500px){

.hero-buttons{

flex-direction:column;

}

nav ul{

gap:15px;

}

}